body {
    margin: 0;
    background-color: lightgray;
  }
  
  #start-btn {
    background-color: green;
    padding: 20px;
    margin-top: 40px;
    border-radius: 20px; 
    display: flex;
    
    
  }

  #startbtn {
    display:flex;
    size: cover;
   
  }
  
  #splash-screen {
    background-image: url(../images/fondo-principal.png);
    background-position: center;
    background-size:cover;
   
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

 
  
  #game-box {
    background-color: darkgray;
    width: 400px;
    height: 600px;
    display: flex;
    position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
    
    overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
    user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */
  
    /*fondo*/
    background-image: url("../images/fondodia.png");
    background-position: center;
    background-size:cover;
    
    
  }
  
  #game-box * {
    pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */
  }
  
  #game-screen, #game-over-screen {
    display: none;
  }

  #game-over-screen{
    background-image: url("../images/fondo-final.png");
    background-position: center;
    background-size: 100%;
  }

  #tryagain-btn {
    background-color: green;
    padding: 20px;
    margin-top: 40px;
    border-radius: 20px; 
    display: flex;
  }
  
  #restartbtn {
    display:flex;
    size: cover;
  }